@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1000: 225, 9%, 9%;
    --color-900: 225, 8%, 12%;
    --color-800: 220, 7%, 18%;
    --color-700: 216, 9%, 23%;
    --color-600: 216, 8%, 38%;
    --color-500: 216, 4%, 51%;
    --color-400: 222, 9%, 78%;
    --color-300: 0, 0%, 90%;
    --color-200: 0, 0%, 96%;
    --color-100: 0, 0%, 100%;
    --color-orange: 13, 75%, 58%;
    --color-orange-hover: 21, 86%, 68%;
  }
}

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  body {
    @apply bg-color-100 text-color-1000 dark:bg-color-900 dark:text-color-100 min-h-screen;
  }
}
