@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1000: 225, 9%, 9%;
    --color-900: 225, 8%, 12%;
    --color-800: 220, 7%, 18%;
    --color-700: 216, 9%, 23%;
    --color-600: 216, 8%, 38%;
    --color-500: 216, 4%, 51%;
    --color-400: 222, 9%, 78%;
    --color-300: 0, 0%, 90%;
    --color-200: 0, 0%, 96%;
    --color-100: 0, 0%, 100%;
    --color-orange: 13, 75%, 58%;
    --color-orange-hover: 21, 86%, 68%;
  }
}

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  body {
    @apply bg-color-100 text-color-1000 dark:bg-color-1000 dark:text-color-100;
  }

  .document-page {
    height: calc(100vh - 75px);
  }
}

@layer utilities {
  .markdown h1 {
    @apply text-color-900 dark:text-color-100 font-roboto-slab;
  }

  .markdown h2 {
    @apply text-color-700 dark:text-color-200 font-light;
  }

  .markdown h3 {
    @apply text-color-700 dark:text-color-200 font-bold text-[24px];
  }
  .markdown h6 {
    @apply text-color-orange  font-bold text-[14px];
  }
  .markdown p {
    @apply text-color-500 dark:text-color-300;
  }

  .markdown ul {
    @apply text-color-500 dark:text-color-300 text-[14px];
  }

  .markdown blockquote {
    @apply text-color-800 dark:text-color-300 text-[14px] border-l-4 border-color-orange  bg-color-200 dark:bg-color-800 rounded-md py-2 px-4;
  }
}
